* {
    font-size: 1.5rem;
}

table, div.input-container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

input[type=text] {
    width: 537px;
}